/* .listchat {
    width: 20%;
    background-color: rgb(230, 228, 228);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-right: 2px solid rgb(201, 201, 201);
} */
/* .messageUser {
    padding: 15px;
    background-color: rgb(9, 248, 9);
    border-radius: 20px;
    max-width: 45%;
    margin-left: auto;
    margin-right: 0;
    line-height: 5px;
}

.messageBot {
    padding: 15px;
    background-color: rgb(245, 244, 241);
    border-radius: 20px;
    max-width: 45%;
    line-height: 5px;
}

.messages {
    margin-bottom: 15px;
    width: 100%;
} */

.body {
    background: gray;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .content {
    display: flex;
    width: 100%;
    flex-grow: 1;
    overflow: hidden;
  }
  
  .chats {
    overflow-y: auto;
    width: 20%;
    background-color: rgb(230, 228, 228);
    border-right: 2px solid rgb(201, 201, 201);
  }
  
  .messages {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: rgb(230, 228, 228);
  }
  
  .messages > div:nth-child(1) {
    flex-grow: 1;
    overflow-y: auto;
    padding: 15px 10px;
  }
  
  .messages > div:nth-child(2) {
    height: 50px;
    flex: none;
  }